
@if (show()) {
  <div
    class="flex flex-col w-200 max-h-120 border-2 rounded-2xl shadow-2xl bg-white border-transparent z-50"
    appClickOutside
    appBlockWheeling
    [ignoreWheeling]="show()"
    [clickOutsideEnabled]="show()"
    [ignoreElements]="[activator()]"
    (clickOutside)="closeModal()"
    >
    <header class="flex-initial flex justify-between my-4 mx-4">
      <ng-content select="[modal-header]">
      </ng-content>

      <button class="cursor-pointer p-1 hover:text-blue-500">
        <b>Esc</b>
      </button>
    </header>

    <hr>

    <section class="flex-auto content-center my-4 mx-4 overflow-auto">
      <ng-content select="[modal-content]">
        Content
      </ng-content>
    </section>

    <footer class="flex flex-initial my-4 mx-4 justify-end">
      @if (customActions()) {
        <ng-container [ngTemplateOutlet]="customActions()!" [ngTemplateOutletContext]="{close: closeModal}"></ng-container>
      }
    </footer>
  </div>
}
