<div class="w-1/2 mx-auto p-4">
  <h2 class="text-2xl font-bold mb-2">Gallery</h2>

  <gallery [items]="movieGallery.value()" />

  <ik-upload
    #uploadComponent
    [authenticator]="authenticator.bind(this)"
    [folder]="movieId()!.toString()"
    [buttonRef]="imageUploadBtn"
    [onUploadStart]="onImageUpload.bind(this)"
  />

  <div loader [isLoading]="isUploading()"
  >
    <button
      #imageUploadBtn
      class="bg-green-500 text-white px-4 py-2 rounded mt-4 cursor-pointer hover:text-blue-500"
    >
      Upload
    </button>
  </div>
</div>
