<p class="text-2xl">Add your review</p>

<form
  class="flex flex-col gap-y-4"
  [formGroup]="reviewForm"
  (ngSubmit)="onSubmit()"
>
  <div
    class="grid grid-cols-[max-content_1fr] gap-y-6 gap-x-4 items-center"
  >
    <app-form-input
      class="contents"
      label="rating"
      type="number"
      formControlName="rating"
      [showError]="reviewForm.controls.rating.invalid && reviewForm.controls.rating.touched"
    />

    <app-form-input
      class="contents"
      label="title"
      type="text"
      formControlName="title"
      [showError]="reviewForm.controls.title.invalid && reviewForm.controls.title.touched"
    />

    <app-form-input
      class="contents"
      label="description"
      type="textarea"
      formControlName="content"
      [showError]="reviewForm.controls.content.invalid && reviewForm.controls.content.touched"
    />
  </div>

  <button
    class="w-fit self-center bg-green-200 border-green-400 border-2 py-2 px-4 rounded-md"
    type="submit"
  >
    Send
  </button>
</form>

