<div class="flex flex-col gap-y-2 mx-auto max-w-4xl p-4">
  @if (movieDetailsService.movie.hasValue()) {
    <app-movie-details
      [movie]="movieDetailsService.movie.value()!"
    />
  }

  <app-review-list [reviews]="reviews.value()" />

  <button
    #addReviewBtn
    class="self-center px-2 border-1 rounded-md bg-green-200 border-green-300 w-fit cursor-pointer p-1 hover:text-blue-500"
  >
    Add review
  </button>

  <app-modal [activator]="addReviewBtn" [deactivator]="addReviewForm.submitForm">
    <ng-container ngProjectAs="[modal-header]">
      Add review
    </ng-container>

    <ng-container ngProjectAs="[modal-content]">
      <app-add-review
        #addReviewForm
        class="mx-50"
        (submitForm)="onAddReview($event)"
      />
    </ng-container>

    <ng-container ngProjectAs="modal-footer">
      My Actions
    </ng-container>
  </app-modal>

</div>
